ul.tabs li:first-child a {
-moz-border-radius-topleft: 20px !important;
-webkit-border-top-left-radius: 20px !important;
border-top-left-radius: 20px !important;
}

.detailBookingBox {
width: 90%;
border: 1px solid #2E2793;
margin: auto;
border-radius: 20px;
margin-top:2% !important; 

}

.detailBookingBox .tabs.tabs-inline>li.active>a {
background: darkblue !important;
color: #FFF !important;
font-weight: bold;
}

.no-seleccionable {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor:pointer;
	}

.clickableElement {
	border:1px solid #FFFFFF;
	width:90%;
	height:90%;
	 -moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: white;
	background-image: linear-gradient(white, #f4f4f4);
	border-color: #f4f4f4 #dddddd #dddddd #f4f4f4;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: -1px -1px 0 #ffffff inset;
	box-sizing: border-box;
	color: #444 !important;
	text-align: center;
}

.labelSup{

	color:#000 !important;
	width:100% !important;
	border:1px solid #CCCCCC;
	padding-left: 0px !important;
	padding-right: 0px !important;
	text-align:center !important;
	height:20px !important;
	font-size:0.8em;
	overflow:hidden;
	line-height:1.1em;
}

.grey{
	background:#B6B6B6;
}

.green{
	background:#00FF00;
}

.black{
	background:#000000; 
	color:#FFFFFF;
}

.yellow{
	background:#FFFF00; 
	color:#000;
}


.menu_calendar > li > a {
	color: #FFFFFF;
	display: block;
	padding: 10px 15px;
	border:1px solid #FFFFFF;
}

.menu_calendar > li {
	float: left;
	margin: 0;
	position: relative;
}

.info_client{
	background: none repeat scroll 0 0 #FFF;
	border: 0px solid #FFF;
	margin: 2%;
}

.return-btn{
	display:none;
}